body {
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d1 {
  background-color: #000000da;
  color: white;
  padding: 3px;
}
.d2 {
  width: 100%;
  float: left;
  margin-top: 50px;
}
.d21 {
  width: 49%;
  float: left;
  border-right: 4px solid blue;
}
.d22 {
  width: 49%;
  float: right;
}
table {
  width: 2px;
}
table,
tr,
td {
  border: 5px solid transparent;
}
tr td:nth-child(1) {
  width: 50%;
}

input[type="radio"]:after {
  width: 11px;
  height: 11px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]:checked:after {
  width: 9px;
  height: 9px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #2196f3;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.submit {
  width: 200px;
  height: 50px;
  font-size: 24px;
  border: 0px;
  background-color: #2196f3;
  color: white;
  border-radius: 55px;
  cursor: pointer;
}
.submit:hover {
  background-color: #000000;
  transition-property: background-color 10s ease-in-out 1s;
  box-shadow: 5px 5px 5px solid red;
}

.reset {
  width: 100px;
  height: 50px;
  font-size: 24px;
  border: 0px;
  background-color: red;
  color: white;
  border-radius: 55px;
  cursor: pointer;
}

.submission td {
  padding-top: 200px;
}

input[type="text"],
input[type="email"],
input[type="url"] {
  outline: none;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 55px;
  height: 30px;
  width: 220px;
}

.skill td {
  padding-top: 20px;
}
.tab2,
.tab2 th,
.tab2 td,
.tab2 tr {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
thead {
  text-align: left;
  background-color: rgb(57, 20, 204);
  color: rgb(255, 255, 255);
}
#tab2,
#th2,
#tb2 {
  text-align: left;
}
#th2 th {
  padding: 50px;
}
#tb2 > tr td:nth-child(1) {
  width: 75%;
}
#tb2 > tr td:nth-child(2) {
  width: 25%;
}
#tab2 {
  margin: 0 auto;
  width: 90%;
  white-space: pre;
  margin-bottom: 150px;
}
.tcenter {
  margin: 0 auto;
}
.hrline {
  display: none;
}
@media (max-width: 1000px) {
  .d21,
  .d22 {
    width: 100%;
  }
  .tcenter {
    margin: 0 auto;
  }
  .hrline {
    display: block;
    height: 3px;
    outline: none;
    background-color: #32cd99;
  }
  .change {
    color: white;
  }
  .change:hover {
    background-color: green;
    cursor: pointer;
  }
  #id {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
